{
	box-sizing: border-box;
}

html,
body,
main {
	margin: 10;
	padding: 0;

}

main {
	padding: 30px 20px;
	border-left: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
}

body,
main,
p,
.body {
	font-family: "Times New Roman", sans-serif;
	color: #101046;
}

body {
background:
linear-gradient(to bottom, white 0%,#F5F5F5 50%,#000000 50%,white 50%,white 100%);
}

}

main {
	background-color: #f9f9ff;
}

section {
	margin: 20px 0;
	padding: 10px;
}

.dropbtn {
  background-color: #514B92;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

a.button {
    color: black;
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button2 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}




/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
label,
.heading {
	font-family: "'Helvetica'", sans-serif;
	color: #0a0a69;
	font-weight: 800;
}

h2,
h3 {
	font-weight: normal;
}



/* Colours */
.colour {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
}

.colour--primary {
	background: #514B92;
}

.colour--secondary {
	background: #6386CB;
}

.colour--dark{
	background: #101046;
}

.colour--light {
	background: #f9f9ff;
}

.colour--highlight {
	background: #DA6363;
}


@media (min-width: 600px) {
	main {
		width: 600px;
		margin: auto;
	}
}
